$skyBlue: #06bee1;
$blueSapphire: #0b4f6c;
$periwinkle: #d1cfe2;
// $black: #001021;
$black: #191414;
$warmblack: #034748;

.bg--color-sky-blue {
    background-color: $skyBlue;
}
.bg--color-blue-sapphire {
    background-color: $blueSapphire;
}
.bg--color-periwinkle {
    background-color: $periwinkle;
}
.bg--color-black {
    background-color: $black;
}
.bg--color-warm-black {
    background-color: $warmblack;
}
.text--color-sky-blue {
    color: $skyBlue;
}
.text--color-blue-sapphire {
    color: $blueSapphire;
}
.text--color-periwinkle {
    color: $periwinkle;
}
.text--color-black {
    color: $black;
}
.text--color-warm-black {
    color: $warmblack;
}
